extra/
0.5s-dwell_3s-period/jobs/
1s-dwell_3s-period/jobs/
0.75s-dwell_3s-period/jobs/
platen_force/
sinusoid/jobs/
backup/
*.csv
verification/confined_compression/jobs/
verification/models/jobs/
verification/unconfined_compression/jobs/
